/* =========================================================
   ABOUT ME SECTION
========================================================= */

.main__aboutMe {
    background-color: #0a0a0a;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2rem; /* Espaciado interno */
    box-sizing: border-box;
}

.aboutMe--card {
    grid-area: 1 / 2 / span 3 / span 3;
}

.aboutMe--text {
    grid-area: 2 / 5 / span 2 / span 4;
}

.aboutMe--title {
    grid-area: 1 / 5 / span 1 / span 3;
}

.aboutMe--level {
    grid-area: 1 / 8 / span 1 / span 1;
}

.aboutMe__img {
    width: 100%;
    justify-self: center;
    margin-bottom: 1rem;
}

.aboutMe__img img {
    border-radius: 50%;
    height: 100%;
    width: 95%;
    border: 5px solid #9376e3;
    box-shadow: 0 0 10px #a5f8;
}

.aboutMe--card p {
    padding: 1rem;
    font-size: 80%;
    line-height: 1.5;
    margin: 0;
}

.aboutMe--text p {
    padding: 1rem;
    margin: 0;
    font-size: 80%;
    line-height: 1.6;
}


/* =========================================================
   STATS SECTION
========================================================= */

.skill__title {
    grid-area: 1 / 2 / span 1 / span 5;
    width: 100%;
    height: 50%;
}

.aboutMe--stats {
    grid-area: 4 / 2 / span 6 / span 7;
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid; 
    background-color: #0a0a0a;
    border-radius: 1rem;
}

.aboutMe--stats > div > img {
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
}

/* Estilo compartido */
.skill__level {
    color: #0a0a0a;
    height: 55%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 0.5rem;
}

.skill_1--text, .skill_2--text, .skill_3--text, .skill_4--text {
    margin: 0.8rem;
}
.skill_1--text p, .skill_2--text p, .skill_3--text p, .skill_4--text p {
    margin: 0;
}


/* HABILIDAD 1 */
.skill_1--img {
    grid-area: 2 / 2  / span 1 / span 1;
}
.skill_1--level {
    grid-area: 2 / 3 / span 1 / span 1;
    background-color: #8f8;
}
.skill_1--text {
    grid-area: 2 / 4 / span 1 / span 3;
    font-size: 75%;
}

/* HABILIDAD 2 */
.skill_2--img {
    grid-area: 3 / 2 / span 1 / span 1;
}
.skill_2--level {
    grid-area: 3 / 3 / span 1 / span 2;
    background-color: #fd4;
}
.skill_2--text {
    grid-area: 3 / 5 / span 1 / span 2;
    font-size: 75%;
}

/* HABILIDAD 3 */
.skill_3--img {
    grid-area: 4 / 2  / span 1 / span 1;
}
.skill_3--level {
    grid-area: 4 / 3 / span 1 / span 3;
    background-color: #f88;
}
.skill_3--text {
    grid-area: 4 / 6 / span 1 / span 1;
    font-size: 75%;
}

/* HABILIDAD 4 */
.skill_4--img {
    grid-area: 5 / 2  / span 1 / span 1;
}
.skill_4--level {
    grid-area: 5 / 3 / span 1 / span 4;
    background-color: #f33;
}
.skill_4--text {
    grid-area: 5 / 3 / 6 / 4;
    font-size: 75%;
    display: none;
}