/* =========================================================
   HERO SECTION
========================================================= */

.main__hero-image {
    background-image: url('../../images/main/hero_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation-range-start: contain 100%;
    animation-range-end: cover 100%;
    animation: hero-anim both;
    animation-timeline: scroll();
}

.main__hero-image > div {
    background-color: #0a0a0aaf;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}

.main__hero-image > div > h1 {
    color: #fff;
    margin: 0;
    margin-top: 1rem;
    font-size: 2.5rem;
}

@keyframes hero-anim {
    from {
        background-position: center;
    }
    to {
        background-position: center 500px;
    }
    
}