/*
=========================================================
PRINCIPAL - estilos genericos
=========================================================
*/
body, .header__title {
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #121212; /* Fondo oscuro */
    width: 100%;
    box-sizing: border-box;
    color: #e0e0e0; /* Texto general */
}

img {
    width: 100%;
}

/*
----------------------------
Principal - header
----------------------------
*/

.header {
    position: relative;
}

.header__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 350px));
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #0a0a0a;
}

.header-grid__item {
    background-color: #0a0a0a;
    margin: 0.6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.95);
}

.header-grid__item a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    width: 100%;    
    padding: 1rem;
    text-align: center;
    justify-self: center;
    align-self: center;
    border-radius: 1rem;
    transition: transform .2s ease, background-color .2s ease;
}

.header-grid__item a:hover {
    background-color: #0f0f0f;
    transform: scale(0.975);
}

.item--contactMe a {
    background-color: #9376e3;
    padding: 0.8rem;
    border-radius: 0.8rem;
    transform: scale(1);
    transition: transform .3s ease, font-size .3s ease, background-color .2s ease;
}

.item--contactMe a:hover {
    background-color: #36226b;
    transform: scale(1.030);
    font-size: 1.05rem;
}

.header__menu-grid {
    position: absolute;
    top: 10px;
    left: 47.5%;
    background-color: #9376e3;
    font-size: 1.5rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
}

.main__hero-image {
    background-image: url('../images/main/hero_image.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 35rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__hero-image > div {
    background-color: #0a0a0aaf;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}

.main__hero-image h1, .main__hero-image h2 {
    color: #fff;
    margin: 0;
    margin-top: 1rem;
}
/*
==============================================================================
MAIN SECTION
==============================================================================
*/
.main__grid {
    margin: 2.5rem 0;
    display: grid;
    grid-template-columns: repeat(8, minmax(auto, 150px));
    grid-template-rows: repeat(16, minmax(100px, auto));
    box-sizing: border-box;
    gap: 10px;
    justify-content: center; 
}

.main__aboutMe {
    background-color: #0a0a0a;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.aboutMe--card {
    grid-area:  1 / 2 / 5 / 4;
}

.aboutMe--text {
    grid-area: 2 / 4 / 5 / 8; 
}

.aboutMe--title {
    grid-area: 1 / 4 / 2 / 7 ;
}

.aboutMe--level {
    grid-area: 1 / 7 / 2 / 8 ;
}

.aboutMe--stats {
    grid-area: 5 / 2 / 9 / 8;
    align-items: start;
    justify-content: center;
}

.aboutMe__img {
    width:  85%;
    justify-self: center;
}

.aboutMe__img img {
    border-radius: 35%;
    width: 100%;
}

.aboutMe--card p{
    padding: 1rem;
    font-size: 0.8rem;
}

.aboutMe--text p {
    padding: 1rem;
}

.aboutMe--title {
    font-size: 1.75rem;
    margin: 0;
}

.aboutMe--stats > div > img {
    width: 100px;   
}

.aboutMe--stats >h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    justify-self: center;
    align-self: start;
    margin: 1.5rem 2.5rem;
}

.aboutMe-stats__skill {
    margin: 0.5rem 1rem;
    display: flex;
    text-align: center;
    align-items: center;
}


/*
==============================================================================
RESPONSIVE
==============================================================================
*/

@media screen and (max-width: 740px) {
    .main__grid {
        margin-top: 1rem;
        grid-template-columns: repeat(1, minmax(auto, 350px));
        grid-template-rows: repeat(16, minmax(auto, auto));
    }

    .aboutMe--card {
        grid-area:  1 / 1 / 5 / 2;
    }
    
    .aboutMe__img img {
        width: 70%;
    }

    .aboutMe--text {
        text-align: center;
        flex-direction: column;
        grid-area: 5 / 1 / 7 / 2 ;
    }

    .aboutMe--title {
        display: none;
    }

    .aboutMe--level {
        display: none;
    }

    .aboutMe--stats {
        grid-area: 7 / 2 / 11 / 1;
    }

    .main__grid {
        grid-template-columns: repeat(1, minmax(auto, 400px));
        grid-template-rows: repeat(16, minmax(auto, auto));
    }
    .header__grid {
        grid-template-columns: repeat(3, minmax(50px, 250px))
    }
}

@media screen and (max-width: 450px) {
    .main__grid {
        margin: 1rem;
        grid-template-columns: repeat(1, minmax(auto, 1fr));
        grid-template-rows: repeat(16, minmax(auto, auto));
    }
    .header__grid {
        grid-template-columns: minmax(50px, 250px);
        grid-template-rows: repeat(3, minmax(auto, 1fr))
    }
}

